.button {
    -fx-background-position: center;
    -fx-background-size: 35px 35px;
    -fx-background-repeat: no-repeat;
    -fx-border-collapse: collapse;
    -fx-background-color: rgba(0,0,255,0.2);
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.button:hover {
    -fx-cursor: move;
}

.selected {
    -fx-background-color: rgba(255,0,0,0.2);
}

.highlighted {
    -fx-background-color: rgba(0, 255, 0, 0.2);
}