.button {
    -fx-background-position: center;
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-border-collapse: collapse;
    -fx-background-color: rgba(0,0,255,0.2);
}

.button:hover {
    -fx-cursor: move;
}

.selected {
    -fx-background-color: rgba(255,0,0,0.2);
}

.highlighted {
    -fx-background-color: rgba(0, 255, 0, 0.2);
}